#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

.navbar{
  display: flex;
  gap: 48px;
  padding: 16px 24px;
  background: transparent;
  box-shadow: none;
  border: none;
  margin-left: 700px;
}

.navbar a{
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s;
  color: black;
  font-family: 'JetBrains Mono', monospace;
}

/* .navbar a:hover {
  color: #0070f3;
} */

.navbar.scrolled {
  border-bottom: 1px solid #eee;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 10px;
}

.logo{
  width: auto;
  height: 550px;
  margin-top: -100px;
}

.intro {
  color: black;
  text-align: left;
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 24px;
  line-height: 1.6;
  width: 700px;
}

.content-row {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  margin-top: 20px;
  justify-content: center; /* Centers the entire row */
}


.namehead {
  color: black;
  font-size: 2.5rem; /* Adjust as needed */
  margin: 0 0 40px 0; /* Space below heading */
  white-space: nowrap; /* Prevents line breaking */
  font-family: 'JetBrains Mono', monospace; /* Match your navbar font */
}

.text-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}

.Education{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.eduHeader{
  color: black;
  padding-top: 100px;
  font-family: 'JetBrains Mono', monospace;
}